* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
body {
  color: #fff;
}
.container {
  max-width: 1110px;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  display: block;
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 10;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
}
span {
  z-index: 1;
}
.btn::before {
  content: '';
  background-color: #496bfe;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -80px;
  left: -240px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}
.btn:hover::before {
  left: -25px;
}
header .top {
  background-image: url('../image/fon1.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 280px;
  padding-bottom: 290px;
  position: relative;
}
@media screen and (max-width: 800px) {
  header .top {
    background-position-x: -130px;
  }
}
header .top .scroll a {
  position: absolute;
  bottom: 163px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
}
header .top .scroll span:before {
  content: "";
  position: absolute;
  left: 30%;
  top: 40px;
  width: 15px;
  height: 3px;
  background-color: #fff;
  display: inline-block;
  transform: rotate(45deg);
}
header .top .scroll span:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 40px;
  width: 15px;
  height: 3px;
  background-color: #fff;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: -7px;
}
header .top div {
  text-align: center;
}
header .top div .title {
  text-transform: uppercase;
  font-size: 48px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
  header .top div .title {
    font-size: 40px;
  }
}
header .top div .text {
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  margin-bottom: 50px;
  letter-spacing: 6px;
}
header .top .search {
  background: #fff;
  border: 2px solid #fff;
  height: 59px;
  margin: 0 auto;
  width: 80%;
  max-width: 650px;
}
@media screen and (max-width: 800px) {
  header .top .search {
    width: 100%;
  }
}
header .top .search input,
header .top .search button {
  outline: none;
  border: none;
}
header .top .search input {
  width: 78%;
  height: 55px;
  background: #fff;
  text-align: center;
  float: left;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  color: #999999;
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  header .top .search input {
    width: 65%;
  }
}
@media screen and (max-width: 400px) {
  header .top .search input {
    font-size: 12px;
  }
}
header .top .search input:focus {
  border: 1px solid #496bfe;
}
header .top .search button {
  height: 55px;
  width: 22%;
  max-width: 145px;
  float: right;
  color: #fff;
  font-size: 14px;
  font-family: 'Aleo', serif;
  text-transform: uppercase;
  background: #5474fd;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  header .top .search button {
    width: 35%;
  }
}
header .top .search button span {
  font-size: 25px;
  padding-left: 5px;
}
header .footer {
  background-color: #5474fd;
}
header .footer .container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
header .footer .container .logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  line-height: 80px;
}
header .footer .container #menu-checkbox {
  display: none;
}
header .footer .container nav ul {
  list-style-type: none;
  height: 120px;
}
header .footer .container nav ul li {
  display: inline;
  line-height: 80px;
  font-family: 'Aleo', serif;
  font-size: 14px;
  margin-right: 39px;
  text-align: center;
}
header .footer .container nav ul li:hover {
  border-bottom: 2px solid #b49999;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  header .footer .container nav ul li {
    margin-right: 15px;
  }
}
@media screen and (max-width: 800px) {
  header .footer .container nav ul li {
    line-height: 14px;
  }
}
header .footer .container nav ul li a {
  color: #fff;
}
header .footer .container nav ul li:last-child {
  margin-right: 0;
}
main .part_1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 24, 24, 0.9)), to(rgba(36, 24, 24, 0.9))), url('../image/why_chhose_us-bg.jpg');
  background: -o-linear-gradient(rgba(36, 24, 24, 0.9), rgba(36, 24, 24, 0.9)), url('../image/why_chhose_us-bg.jpg');
  background: linear-gradient(rgba(36, 24, 24, 0.9), rgba(36, 24, 24, 0.9)), url('../image/why_chhose_us-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
main .part_1 .info {
  padding: 120px 0;
}
@media screen and (max-width: 750px) {
  main .part_1 .info {
    padding: 50px 0;
  }
}
main .part_1 .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 750px) {
  main .part_1 .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main .part_1 .container .info .cont_1,
main .part_1 .container .info .cont_2 {
  width: 42%;
}
@media screen and (max-width: 750px) {
  main .part_1 .container .info .cont_1,
  main .part_1 .container .info .cont_2 {
    width: 100%;
    padding-top: 0;
  }
}
main .part_1 .container .info .cont_1 {
  padding-top: 80px;
}
@media screen and (max-width: 1400px) {
  main .part_1 .container .info .cont_1 {
    width: 53%;
  }
}
@media screen and (max-width: 750px) {
  main .part_1 .container .info .cont_1 {
    width: 100%;
  }
}
main .part_1 .container .info .cont_1 div {
  font-size: 36px;
  font-family: 'Aleo', serif;
  margin-bottom: 48px;
}
@media screen and (max-width: 800px) {
  main .part_1 .container .info .cont_1 div {
    font-size: 28px;
  }
}
main .part_1 .container .info .cont_1 p {
  padding-bottom: 22px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.8;
  font-size: 16px;
}
main .part_1 .container .info .cont_1 p:nth-child(3) {
  margin-bottom: 19px;
}
main .part_1 .container .info .cont_1 .btn {
  margin-bottom: 22px;
}
main .part_1 .container .info .cont_1 span {
  font-size: 16px;
}
@media screen and (max-width: 1400px) {
  main .part_1 .container .info .cont_2 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  main .part_1 .container .info .cont_2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 750px) {
  main .part_1 .container .info .cont_2 {
    padding-top: 0;
  }
}
main .part_1 .container .info .cont_2 .right {
  float: right;
}
main .part_2 {
  background-color: #333333;
}
main .part_2 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 95px;
  padding-bottom: 120px;
}
@media screen and (max-width: 640px) {
  main .part_2 ul {
    padding-bottom: 80px;
  }
}
main .part_2 ul li {
  font-family: 'Aleo', serif;
  font-size: 36px;
  color: #e8e8e8;
}
@media screen and (max-width: 900px) {
  main .part_2 ul li {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  main .part_2 ul li {
    font-size: 20px;
  }
}
main .part_2 ul li .icon {
  font-size: 70px;
  padding: 0 78px;
}
@media screen and (max-width: 900px) {
  main .part_2 ul li .icon {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  main .part_2 ul li .icon {
    padding: 0 20px;
  }
}
@media screen and (max-width: 640px) {
  main .part_2 ul li .icon {
    font-size: 40px;
  }
}
main .part_2 ul li .icon-search {
  color: #5474fd;
}
main .part_2 ul li .icon-check {
  color: #ff6363;
}
main .part_2 ul li .icon-like {
  color: #127bb7;
}
main .part_2 ul li div {
  padding-top: 14px;
}
@media screen and (max-width: 800px) {
  main .part_2 ul li div {
    width: 100px;
    margin: 0 auto;
  }
}
main .part_2 ul li.center {
  position: relative;
}
main .part_2 ul li.center::before,
main .part_2 ul li.center::after {
  content: '';
  display: block;
  width: 310px;
  height: 58px;
  position: absolute;
  top: -60px;
  right: 150px;
  background-image: url('../image/shape.png');
  background-repeat: no-repeat;
}
@media screen and (max-width: 1300px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    background-size: 95%;
  }
}
@media screen and (max-width: 1200px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    background-size: 85%;
  }
}
@media screen and (max-width: 1100px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    background-size: 75%;
  }
}
@media screen and (max-width: 1000px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    background-size: 65%;
  }
}
@media screen and (max-width: 900px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    background-size: 50%;
    width: 150px;
  }
}
@media screen and (max-width: 350px) {
  main .part_2 ul li.center::before,
  main .part_2 ul li.center::after {
    width: 120px;
  }
}
main .part_2 ul li.center::after {
  left: 150px;
  background-position: left;
}
@media screen and (max-width: 900px) {
  main .part_2 ul li.center::after {
    left: 100px;
  }
}
@media screen and (max-width: 750px) {
  main .part_2 ul li.center::after {
    left: 75px;
  }
}
main .part_2 ul li.center::before {
  background-position: right;
}
@media screen and (max-width: 900px) {
  main .part_2 ul li.center::before {
    right: 100px;
  }
}
@media screen and (max-width: 750px) {
  main .part_2 ul li.center::before {
    right: 75px;
  }
}
main .part_3,
main .part_4 {
  background-image: url('../image/fon3.png');
  background-size: cover;
  background-repeat: no-repeat;
}
main .part_3 .container,
main .part_4 .container {
  padding-top: 230px;
  padding-bottom: 100px;
}
main .part_3 .container .contant,
main .part_4 .container .contant {
  width: 48%;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 45px 30px 42px 30px;
}
@media screen and (max-width: 1200px) {
  main .part_3 .container .contant,
  main .part_4 .container .contant {
    width: 100%;
  }
}
main .part_3 .container .contant div,
main .part_4 .container .contant div {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 30px;
}
main .part_3 .container .contant .name,
main .part_4 .container .contant .name {
  text-transform: uppercase;
  padding-bottom: 23px;
}
main .part_3 .container .contant p,
main .part_4 .container .contant p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 43px;
}
main .part_3 .container .contant span,
main .part_4 .container .contant span {
  font-size: 16px;
}
main .part_4 {
  background-image: url('../image/fon4.png');
  background-size: cover;
  background-repeat: no-repeat;
}
main .part_4 .container .contant {
  margin-top: -3px;
  margin-left: 52%;
}
@media screen and (max-width: 1200px) {
  main .part_4 .container .contant {
    margin-left: 0;
  }
}
main .part_5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 24, 24, 0.9)), to(rgba(36, 24, 24, 0.9))), url('../image/testimonials-bg.jpg');
  background: -o-linear-gradient(rgba(36, 24, 24, 0.9), rgba(36, 24, 24, 0.9)), url('../image/testimonials-bg.jpg');
  background: linear-gradient(rgba(36, 24, 24, 0.9), rgba(36, 24, 24, 0.9)), url('../image/testimonials-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
main .part_5 .container .section {
  margin: 0 auto;
  padding-top: 113px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1100px) {
  main .part_5 .container .section {
    padding-bottom: 100px;
  }
}
main .part_5 .container .section h3 {
  text-align: center;
  font-family: 'Aleo', serif;
  font-size: 36px;
  margin-bottom: 90px;
}
@media screen and (max-width: 500px) {
  main .part_5 .container .section h3 {
    font-size: 25px;
  }
}
main .part_5 .container .section .contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 284px;
}
@media screen and (max-width: 1100px) {
  main .part_5 .container .section .contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 1100px) {
  main .part_5 .container .section .contant picture {
    text-align: center;
    margin-bottom: 20px;
  }
}
main .part_5 .container .section .contant .info {
  width: 100%;
  background-color: #333;
  padding: 50px 60px;
}
@media screen and (max-width: 1600px) {
  main .part_5 .container .section .contant .info {
    padding: 40px 50px;
  }
}
@media screen and (max-width: 1500px) {
  main .part_5 .container .section .contant .info {
    padding: 30px 40px;
  }
}
main .part_5 .container .section .contant .info .name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #fefefe;
}
main .part_5 .container .section .contant .info .about {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
  text-indent: 30px;
  letter-spacing: -0.6px;
}
main .part_5 .container .section .contant .info .about::before {
  content: '“';
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  color: #5474fd;
  position: absolute;
  top: -45px;
  left: -32px;
}
footer {
  background-color: #232323;
}
footer .container .contant {
  margin: 0 auto;
  width: 165px;
}
footer .container .contant .logo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 120px;
  padding-bottom: 15px;
}
footer .container .contant .text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 30px;
}
footer .container .contant ul {
  list-style: none;
  padding-bottom: 60px;
}
footer .container .contant ul li {
  display: inline;
  margin-right: 18px;
  font-size: 16px;
}
footer .container .contant ul li i{
  display: inline;
  margin-right: -3px;
  font-size: 20px;
  color: #fefefe;
}
footer .container .contant ul li:last-child {
  margin-right: 0;
}
footer .container .contant ul i:hover {
  color: #5474fd;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .main-menu {
    display: none;
    background-color: #5474fd;
  }
  .main-menu li {
    width: 100%;
    display: block;
    font-size: 16px;
  }
  .main-menu a {
    display: block;
  }
  .main-menu ul {
    width: 150px;
  }
  .toggle-button {
    width: 150px;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 28px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .toggle-button::before {
    content: attr(data-open);
    display: block;
  }
  #menu-checkbox:checked + nav .main-menu {
    display: block;
  }
  #menu-checkbox:checked + nav .toggle-button:before {
    content: attr(data-close);
  }
}